<form class="product-form" [formGroup]="EditProductForm" (submit)="submitForm()">

    <h3 class="text-center">Add Product</h3>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product id</mat-label>
        <input matInput type="number" formControlName="id" placeholder="Product id">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="productName" placeholder="Product Name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product Quantity </mat-label>
        <input matInput type="number" formControlName="quantity" placeholder="Product Name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product Details</mat-label>
        <textarea matInput formControlName="details" placeholder="Product Details"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product Category</mat-label>
        <input matInput formControlName="category" placeholder="Product Category">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product Price</mat-label>
        <input matInput formControlName="price" placeholder="Product price">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>offer Price</mat-label>
        <input matInput formControlName="offerPrice" placeholder="Offer Price">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select</mat-label>
        <mat-select formControlName="status" [(value)]="statusSelected">
            <mat-option value="stock">Stock</mat-option>
            <mat-option value="out-stock">Out of Stock</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select</mat-label>
        <mat-select formControlName="images" [(value)]="selected">
            <mat-option value="prod-1.png">prod-1.png</mat-option>
            <mat-option value="prod-2.png">prod-2.png</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="text-center">
        <button mat-raised-button color="primary">Submit</button>
    </div>
    
</form>